<!-- Unstable
<img
    *ngFor="let card of (deck?.cards | slice:0:5)?.reverse()"
    [style.transform]="'rotate(' + (Math.random() * 6 - 3) + 'deg)'"
    [src]="card?.src"
    [alt]="card?.name"
>
-->
<div class="container">
    <div class="background-cards">
        <img
            *ngFor="let card of (deck?.cards | slice:1:7)?.reverse(); let i = index"
            [src]="card?.src"
            [alt]="card?.name"
        >
    </div>
    <img class="cover-card"
        [src]="deck?.cards?.[0]?.src"
    >
    <header>{{ deck?.name }}</header>
</div>