/*################################################################
Topic
*/
/*================================
Details
*/
/*
const screen_sizes = [0, 576, 768, 992, 1200];
const screen_sizes_names = ['xs', 'sm', 'md', 'lg', 'xl'];
@media (max-width: Sizepx) {}
*/

/*################################################################
default
*/

.card-img{
    width: 150px;
}

header{
    font-size: 1.5rem;
}

/*################################################################
md
*/

@media (max-width: 768px) {
.container{
    filter: none;
}}

/*################################################################
sm
*/

@media (max-width: 576px) {
.card-img{
    width: 100px;
}}

@media (max-width: 576px) {
header{
    font-size: 1rem;
}}
