<div class="deck-container">

  <div class="deck" [attr.data-tick]="animationTick">

    <div
  *ngFor="let card of getStackWindow(); trackBy: trackById"
  class="card"
  [style.transform]="getTransform(card.offset)"
  [style.zIndex]="100 - Math.abs(card.offset)"
>

      <img *ngIf="card.src" [src]="card.src" />
      <div *ngIf="!card.src">{{ card.name }}</div>

    </div>

    
  </div>
  
  

</div>
<div class="controls">
  <button (click)="prev()">‹</button>
  <button (click)="next()">›</button>
</div>