<div class="deck-container" *ngIf="cards.length">

    <div class="panel-top">

        <!-- Navigation -->
        <button class="nav" (click)="prev()">‹</button>

        <!-- Cards -->
        <div class="deck" [attr.data-tick]="animationTick">
            <!-- Graphics -->
            <div
                *ngFor="let card of getStackWindow(); trackBy: trackById"
                class="card"
                [style.transform]="getTransform(card.offset)"
                [style.zIndex]="100 - Math.abs(card.offset)"
            >
                <img *ngIf="card.src" [src]="card.src" />
            </div>
            
            <!-- Size expander -->
            <img 
                [src]="cards[index].src"
                [style.opacity]="'0'"
            />
        </div>

        <!-- Navigation -->
        <button class="nav" (click)="next()">›</button>
    </div>
    <header>{{ cards[index].name }}</header>

    <div class="panel-bottom">
        <!-- Navigation -->
        <button class="nav" (click)="prev()">‹</button>

        <!-- Select button -->
        <button class="select-btn" (click)="selectCurrent()">Select</button>

        <!-- Navigation -->
        <button class="nav" (click)="next()">›</button>
    </div>

</div>