<!-- Deck -->
<!--
<div class="deck">
    <h3>Deck</h3>

    <div *ngFor="let deck of decks">
        <button
            *ngFor="let card of deck.cards"
            (click)="addCard(card)"
        >
            {{ card.name }}
        </button>
    </div>
</div>
-->

<div class="board">
    <div
        *ngFor="let card of cards()"
        class="card"
        [style.transform]="GetTransform(card.x, card.y, card.rotation)"
        (pointerdown)="startDrag($event, card)"
    >
        <div class="background">
            <img [src]="card.src" />
        </div>

        <div class="controls">
            <button
                (pointerdown)="$event.stopPropagation()"
                (click)="rotate(card)"
            >
                ↻
            </button>
            <button
                (pointerdown)="$event.stopPropagation()"
                (click)="front(card)"
            >
                Top
            </button>

            <button
                (pointerdown)="$event.stopPropagation()"
                (click)="remove(card)"
            >
                ✕
            </button>
        </div>
    </div>

</div>