
reflection-board{
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-panel{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card-panel a {
    text-decoration: none;
    color: white;
}

.card-panel deck{
    padding: 0 3rem;
}